<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="home-img-div">
          <a class="nav-link active" aria-current="page" href="#"
            ><img
              src="https://res.cloudinary.com/dtiuw0ams/image/upload/v1720177446/home_omed6c.png"
              alt="Home button image"
          /></a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2 shadow-none border-0"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
