<section>
  <div class="product space-between" [class.highlighted]="inStore">
    <figure>
      <img
        [src]="product.thumbnail"
        alt="Product Image"
        class="product-image"
      />
    </figure>

    <div class="product-description">
      <div class="info">
        <h1>{{ product.title }}</h1>
        <p>{{ product.description }}</p>
      </div>

      <div class="price-wrapper">
        <p class="price">{{ product.price }}</p>
        <p class="stock">
          In stock: <span>{{ product.stock }}</span>
        </p>
        <p class="cart-item" *ngIf="inStore">
          In cart: <span>{{ inStore }}</span>
        </p>
      </div>
    </div>

    <div class="product-sidebar">
      <button
        class="buy"
        [class.disabled]="inStore >= product.stock"
        [disabled]="inStore >= product.stock"
        ngClass=""
        (click)="addItemToCart(product)"
      >
        <span>ADD ITEM</span>
      </button>

      <button
        class="remove-button"
        *ngIf="inStore"
        (click)="removeItemFromCart(product.id)"
      >
        <span>REMOVE</span>
      </button>

      <button class="info" mat-button (click)="openDialog()">
        <span>MORE INFO</span>
      </button>
    </div>
  </div>
</section>
