<main role="main">
  <div class="product space-between">
    <figure>
      <img
        [src]="product.thumbnail"
        alt="Product Image"
        class="product-image"
      />
    </figure>

    <div class="product-description">
      <div class="info">
        <h1>{{ product.title }}</h1>
      </div>

      <div class="price">{{ product.price }}</div>
    </div>

    <div class="product-sidebar">
      <button class="buy">
        <span>BUY ITEM</span>
      </button>

      <button class="info">
        <span>MORE INFO</span>
      </button>
    </div>
  </div>
</main>
