form {
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

label {
  display: block;
  margin: 5px 0;
}

input[type="text"],
input[type="email"] {
  width: 400px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.error-message {
  color: var(--red);
  font-size: 12px;
  margin-bottom: 0.5rem;
}

button[type="submit"] {
  background-color: var(--cart-blue);
  color: var(--white);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 1rem;
}

button[type="button"] {
  background-color: var(--white);
  color: var(--cart-blue);
  border: 1px solid var(--cart-blue);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.cart-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  border-radius: 0.25rem;
  border-bottom: 1px solid var(--border-color);
  width: 300px;
}

.cart-item-image {
  width: fit-content;
  display: flex;
}
.cart-item-image img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 1rem;
}

.form-wrapper {
  padding-right: 1rem;
  border-right: 2px solid var(--border-color);
}

.order-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;
}

.total-bill {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    color: var(--secondary);
    border-bottom: 1px solid var(--secondary);
  }
}

.products {
  height: 80%;
  max-height: 400px;
  overflow-y: scroll;
}

.disabled {
  opacity: 0.5;
}
