<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-wrapper">
    <div>
      <label for="name">Name:</label>
      <input id="name" formControlName="name" type="text" />
      <div *ngIf="name?.invalid && (name?.dirty || name?.touched)">
        <div *ngIf="name?.errors?.required" class="error-message">
          Name is required.
        </div>
        <div *ngIf="name?.errors?.pattern" class="error-message">
          Invalid name. Only letters are allowed.
        </div>
      </div>
    </div>

    <div>
      <label for="address">Address:</label>
      <input id="address" formControlName="address" type="text" />
      <div *ngIf="address?.invalid && (address?.dirty || address?.touched)">
        <div *ngIf="address?.errors?.required" class="error-message">
          Address is required.
        </div>
      </div>
    </div>

    <div>
      <label for="email">Email:</label>
      <input id="email" formControlName="email" type="email" />
      <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
        <div *ngIf="email?.errors?.required" class="error-message">
          Email is required.
        </div>
        <div *ngIf="email?.errors?.email" class="error-message">
          Invalid email format.
        </div>
      </div>
    </div>

    <div>
      <label for="phone">Phone:</label>
      <input id="phone" formControlName="phone" type="text" />
      <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)">
        <div *ngIf="phone?.errors?.required" class="error-message">
          Phone number is required.
        </div>
        <div *ngIf="phone?.errors?.pattern" class="error-message">
          Invalid phone number. Only "+" sign and numbers 0-9 are allowed.
        </div>
      </div>
    </div>

    <button type="submit" [disabled]="form.invalid" [class.disabled]="form.invalid">Confirm order</button>
    <button type="button" (click)="closeDialog()">Go back</button>
  </div>
  <div class="order-wrapper">
    <div class="products">
      <div *ngFor="let item of cartProducts$ | async" class="cart-item-wrapper">
        <strong>{{ item.title }}</strong>
        <div class="cart-item-image">
          <img [src]="item.image" />
        </div>
        <div class="cart-item-info">
          <p>
            <strong>{{ item.amountInCart }}</strong> x
            <span style="color: var(--product-green); font-weight: 700"
              >${{ item.price }}</span
            >
          </p>
        </div>
      </div>
    </div>

    <div class="total-bill">
      <span
        >Total: <b>${{ totalAmount.toFixed(2) }}</b></span
      >
    </div>
  </div>
</form>
