/* @import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css"; */

:root {
  --white: #fff;
  --bg-color: rgb(244, 244, 244);
  --header-color: white;
  --border-color: rgb(230, 230, 230);
  --secondary: #333333;
  --green-light: rgb(40, 167, 69);
  --red: darkred;
  --grey: #d3d3d3;
  --pale: #e6f7ff;
  --black: #1e1e1e;
  --cart-blue: rgb(0, 123, 255);
  --cart-border: rgba(245, 245, 245);
  --product-green: #9bb6aa;
}

html,
body,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body,
app-root {
  height: 100%;
  background-color: var(--bg-color);
}

app-root {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.mt-15 {
  margin-top: 15px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-25 {
  margin-bottom: 25px;
}

.wrap {
  flex-wrap: wrap;
}

.gap-05 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

/* Needed important here to override bootstrap */
.gap-4 {
  gap: 4rem 2rem !important;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.full-center {
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

/* Overrides */
.ng-star-inserted {
  width: fit-content;
  padding: 0;
}

.mat-mdc-dialog-surface {
  width: fit-content !important;
  max-width: unset !important;
}

.custom-snackbar-success {
  .mdc-snackbar__surface {
    background-color: var(--green-light) !important;
  }
  .mdc-button__label {
    color: var(--white);
  }

  .mat-mdc-simple-snack-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
/* Overrides */
